<!DOCTYPE html>
<html>
    <head>
        <mrta charset="utf-8" />
        <title>About</title>
    </head>
    <body>
        {{> header}}

        <p>{{scream content}}</p>

        {{> footer}}
    </body>
</html>