<!DOCTYPE html>
<html>
    <head>
        <mrta charset="utf-8" />
        <title>Maintanance</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{scream content}}</p>
    </body>
</html>